.App{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .components{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin-top: 100px;
  }

  .isActive{
    color: yellow;
    font-weight: bold;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: azure;
    opacity: 0.5;

    *{
      color: royalblue;
      font-weight: lighter;
      font-size: 1rem;
    }

  }
}
