.shoppingCart{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-width: 80%;
  color: whitesmoke;

  .cartHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    min-width: 80%;
    border-bottom: whitesmoke solid 1px;
  }

  *{
    border-radius: 5px;
    font-weight: bold;
  }
  .cartItem{
    display: flex;
    flex-wrap: wrap;
    //width: fit-content;
    width: 100%;
    min-width: 75%;
    justify-content: space-between;
    background: whitesmoke;
    padding: 20px;
    margin: 5px 0;
    color: royalblue;
    box-shadow: rgba(255, 255, 0, 0.5) 0 2px 5px;

    .itemName{

    }
    .itemPrice{

    }
  }

  .total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    *{
      margin: 5px;
    }

    .paymentButton{
      padding: 10px;
      background: green;
      cursor: pointer;
    }
  }

  .cartEmpty{
    color: orangered;
  }
}
